.homepage-card1 {
    padding: 0;
    margin: auto;
    height: 180px;
    width: 100%;
    background-image: url(./assets/img/manufacturing.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 0.5px #f5f5f5;
  }
  
  .homepage-card2 {
    padding: 0;
    margin: auto;
    height: 180px;
    width: 100%;
    background-image: url(./assets/img/machining.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 0.5px #f5f5f5;
  }
  
  .homepage-card3 {
    padding: 0;
    margin: auto;
    height: 180px;
    width: 100%;
    background-image: url(./assets/img/welding.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 0.5px #f5f5f5;
  }
  
  .homepage-card4 {
    padding: 0;
    margin: auto;
    height: 180px;
    width: 100%;
    background-image: url(./assets/img/quality.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .homepage-btn {
    @apply bg-copyright bg-opacity-40 border rounded-lg py-2 px-3 text-white text-lg font-special lg:py-3 lg:px-4 lg:text-2xl transition-all duration-500 hover:bg-gray-600;
  }
  
  .homepage-card-text {
    @apply flex flex-col justify-center items-center;
  }
  
  .homepage-card-h2 {
    @apply text-2xl font-semibold pb-1 lg:text-3xl xl:text-4xl uppercase;
  }
  
  .homepage-card-h2-hover {
    @apply text-lg sm:text-xl md:text-2xl font-semibold xl:text-4xl uppercase tracking-wide leading-8 sm:leading-10 ;
  }
  
  .homepage-card-h3 {
    @apply font-special text-xl pt-2 xl:text-3xl;
  }
  
  .homepage-span {
    @apply text-red font-bold;
  }
  
  .careers-button {
    @apply flex justify-center items-center gap-14 transition-all duration-500 hover:text-copyright;
  }
  .scale-in-center {
    -webkit-animation: scale-in-center 1.7s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: scale-in-center 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    margin-top: -40px;
  }
  
  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .homepage-card-h2 {
    transition: transform 0.8s ease-in-out;
  }
  
  .homepage-card-text:hover .homepage-card-h2 {
    transform: scale(1.4);
  }