
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
}

/* homepage */
.homepage-btn {
    @apply bg-copyright bg-opacity-40 border rounded-lg py-2 px-3 text-white text-lg font-special lg:py-3 lg:px-4 lg:text-2xl
}

.homepage-card1 {
    padding: 0;
    margin: auto;
    height: 180px;
    width: 100%;
    background-image: url(./assets/img/manufacturing.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 0.5px #F5F5F5;
}

.homepage-card2 {
    padding: 0;
    margin: auto;
    height: 180px;
    width: 100%;
    background-image: url(./assets/img/machining.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 0.5px #F5F5F5;
}

.homepage-card3 {
    padding: 0;
    margin: auto;
    height: 180px;
    width: 100%;
    background-image: url(./assets/img/welding.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 0.5px #F5F5F5;
}

.homepage-card4 {
    padding: 0;
    margin: auto;
    height: 180px;
    width: 100%;
    background-image: url(./assets/img/quality.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage-card-text {
    @apply flex flex-col justify-center items-center
}

.homepage-card-h2 {
    @apply text-2xl 
}

.homepage-card-h3 {
    @apply font-special text-xl
}