@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
}

/* Global */
.triangle-header-text {
  @apply sm:leading-12 lg:text-4xl lg:leading-15 uppercase md:text-4xl text-3xl m-auto md:w-56 w-48 lg:w-80 py-4 text-center leading-10 font-bold border-t border-b;
}

/* homepage */

/* slider */

.slider {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  /* top: 50%; */
  right: 18px;
  /* font-size: 2.5rem; */
  color: #f5f5f5;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  /* top: 50%; */
  left: 18px;
  /* font-size: 2.5rem; */
  color: #f5f5f5;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* contact page */

.contact-title {
  @apply text-center text-3xl xl:text-4xl m-0 pt-9 md:pt-10  xl:pt-14 uppercase;
}

.contact-text {
  @apply text-xl pb-1 font-special pt-4 lg:text-2xl;
}

.contact-input {
  @apply w-72 bg-copyright bg-opacity-20 border-2 border-copyright rounded py-1 px-2 lg:py-2 lg:px-3 lg:w-96;
}

.contact-image {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-image: url(./assets/img/contactWheels.png);
  background-size: fill; /* Scale the image to fit within the container */
  background-position: center center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat;
  /* margin-bottom: 40px; */
  margin-top: 20px;
}

/* Media query for medium screens (max-width: 768px) */
@media (min-width: 768px) {
  .contact-image {
    height: 90vh; /* Set the desired height for medium screens */
  }
}

/* About page */
/* About Header */

.triangle {
  background-image: url(./assets/img/triangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 43%;
}

/* About timeline */
.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  color: #f5f5f5;
}

.vertical-timeline-element-icon {
  background-color: white;
  box-shadow: none;
}

.vertical-timeline-element-content-arrow {
  display: none;
}

.background-image-1 .vertical-timeline-element-content {
  background-image: url(./assets/img/kenney1968.png);
}

.background-image-2 .vertical-timeline-element-content {
  background-image: url(./assets/img/kenney1992.png);
}

.background-image-3 .vertical-timeline-element-content {
  background-image: url(./assets/img/kenney2001.png);
}

.background-image-4 .vertical-timeline-element-content {
  background-image: url(./assets/img/manufacturing.png);
}

.background-image-5 .vertical-timeline-element-content {
  background-image: url(./assets/img/kenney2010.png);
}

.services-card {
  @apply p-0 m-0 h-auto w-full bg-red bg-cover md:rounded-md;
}

.services-title {
  @apply pt-6 text-xl font-semibold pb-1 xl:text-3xl;
}

.services-flex {
  @apply flex m-0 gap-6 justify-center items-center w-full pb-5 pt-1;
}

.services-image {
  @apply w-44 sm:w-52 md:w-80 md:p-5;
}

.services-ul {
  @apply list-disc text-base lg:text-lg xl:text-xl w-48 md:w-56 m-0 md:pr-5;
}

.card-container {
  position: relative;
}
.card-image {
  opacity: 0.2;
}
.card-content {
  position: absolute;
  top: 10%;
  padding: 20px;
}

/* careers */

.careers-card1 {
  padding: 0;
  margin: auto;
  height: 180px;
  width: 100%;
  border-bottom: solid 0.5px #f5f5f5;
  border-top: solid 0.5px #f5f5f5;
}

/* .careers-card2 {
  padding: 0;
  margin: auto;
  height: 180px;
  width: 100%;
}

.careers-card3 {
  padding: 0;
  margin: auto;
  height: 180px;
  width: 100%;
  border-bottom: solid 0.5px #F5F5F5;
}

.careers-card4 {
  padding: 0;
  margin: auto;
  height: 180px;
  width: 100%;
} */




/* Repeat the pattern for other buttons */

/* ----------------------------------------------
 * Generated by Animista on 2023-11-18 11:46:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
